@font-face { 
	font-family: "Gilroy bold";
	src: url(../fonts/gilroyextrabold.woff) format("woff"),   
		 url(../fonts/gilroyextrabold.woff2) format("woff2"); 	
}

@font-face { 
	font-family: "Gilroy light";
	src: url(../fonts/gilroylight.woff) format("woff"),  
		 url(../fonts/gilroylight.woff2) format("woff2"); 
}

@font-face { 
	font-family: "Open Sans";
	src: url(../fonts/opensans.woff) format("woff"), 
		 url(../fonts/opensans.woff2) format("woff2");
}

@font-face { 
	font-family: "Open Sans light";
	src: url(../fonts/opensanslight.woff) format("woff"),
		 url(../fonts/opensanslight.woff2) format("woff2");
}

body {	
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

.header-tier1 {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.02;
	letter-spacing: 0.47px;
	text-align: left;
	color: #000000;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;	
	background-color: #F7E397;	
}

.link {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;
	color: #000000;
}

.search-form {
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;
	color: #000000;
}

.btn-search {
	opacity: 0;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: center;
	color: #000000;
	border: solid 2px #000000;
	background-color: #F7E397;	
}

.btn-search:hover {
	color:#FFFFFF;
	background-color:#000000;
}

.btn-search:active {	
	color: rgba(255, 255, 255, 0.3);
}

.search-form input {
	color:#FFFFFF;
	opacity: 0.3;
	border: none;
	background-color: #F7E397;	
}

.search-form input:hover {
	opacity: 0.6;
}

.search-form input:focus {	
	opacity: 1;	
}

.search-form input:focus ~ .btn-search {
	opacity: 1;
}

.search-form input:focus {
	border-bottom: solid 1px #000000;
}

.main-menu,
.main-goods-list,
.footer-menu,
.footer-social,
.breadcrumbs-list,
.sort-list,
.sort-direction,
.breadcrumbs ul,
.catalog-menu ul,
.about-us ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-link {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 3.6px;
	text-align: left;
	color: #000000;
}

.button {	
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 3.6px;
	text-align: center;
	color: #000000;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.0) 40%, #F0C62A 40%, #F0C62A 60%, rgba(0, 0, 0, 0.0) 60%);
	border: none;
}

.button:hover,
.services-slider-control:hover {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.0) 0%, #F0C62A 0%, #F0C62A 100%, rgba(0, 0, 0, 0.0) 100%);
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.goods-slider-descr b {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.19;
	letter-spacing: 0.47px;
	text-align: left;
	color: #000000;
}

.goods-slider-descr p,
.services-slider-item p {
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;
	color: #464646;
}

.unit1,
.unit2,
.unit3 {
	font-family: "Gilroy light","Arial",sans-serif;
	font-size: 36px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.36px;
	text-align: left;
	color: #000000;
}

.prop1,
.prop2,
.prop3 {
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.54;
	letter-spacing: 0.13px;
	text-align: left;
	color: #464646;
}

.main-goods-item-img {
	background-color: #F7E397;
}

.main-goods-item-name {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.18px;
	text-align: left;
	color: #000000;
}

.main-goods-item:hover .main-goods-item-img {
	background-color: #F0C62A;
}

.main-goods-item:active .main-goods-item-picture {
	opacity: 0.3;	
}

.main-goods-item:active .main-goods-item-name {
	opacity: 0.3;
}

.services-control label {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 3.6px;
	text-align: center;
	color: #000000;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.0) 40%, #F0C62A 40%, #F0C62A 60%, rgba(0, 0, 0, 0.0) 60%);
}

.header-tier3 {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.02;
	letter-spacing: 0.47px;
	text-align: left;
	color: #000000;
}

.services1-radio:checked ~ .services1-label {
	color: #F3DF83;
	background: none;
	background-color: #000000;
}

.services2-radio:checked ~ .services2-label {
	color: #F3DF83;
	background: none;
	background-color: #000000;
}

.services3-radio:checked ~ .services3-label {
	color: #F3DF83;
	background: none;
	background-color: #000000;
}

.brands-item {
	opacity: 0.2;
	filter: grayscale(100%);
}

.brands-item:hover {
	opacity: 1;
	filter: grayscale(0%);
}

.about-us li{
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 2.5;
	color: #000000;
}

.information-paragraph {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: left;
	color: #464646;
}

.main-footer {
	background-color: #444444;
}

.footer-logo-svg path { 
	fill: #FFC700;
}

.fade-link:hover { 
	opacity: 0.6;
}

.fade-link:active { 
	opacity: 0.3;
}

.footer-user-block a {
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;
	color: #ffffff;
	opacity: 0.7;
}

.footer-link:hover {
	opacity: 1;
}

.footer-link:active {
	opacity: 0.3;
}


.footer-phone,
.footer-information-block address{
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.footer-menu a {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 3.6px;
	text-align: left;
	color: #ffffff;
}

.footer-menu a:hover {
	opacity: 0.6;
}

.footer-menu a:active {
	opacity: 0.3;
}

.social-btn-fb {	
	background: url(../img/fb_32x32.svg) no-repeat center;
	opacity: 0.7;
}

.social-btn-inst {	
	background: url(../img/inst_32x32.svg) no-repeat center;
	opacity: 0.7;
}

.social-btn-tw {	
	background: url(../img/tw_32x32.svg) no-repeat center;
	opacity: 0.7;
}

.modal-map-close, .modal-feedback-close {
	background: url(../img/modal-close_55x55.svg) no-repeat center;
	border: none;
	opacity: 0.5;
}

.close-button:hover {
	opacity: 1;
}

.close-button:active {
	opacity: 0.3;
}

.modal-feedback {
	background-color: #ffffff;
}

.feedback-form input,
.feedback-form textarea {
	border: solid 3px #F2F2F2;
	background-color: #F2F2F2;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.29;
	letter-spacing: normal;
	text-align: left;
	color: rgba(70, 70, 70, 0.4);
	resize:none
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	background-color: #EBEBEB;
	border: solid 3px #EBEBEB;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
	color: #464646;
	outline: none;
	border: solid 3px #F0C52E;
	background-color: #ffffff;
}

.invalid {
	background-color: #f6dada;
	border: solid 3px #f6dada;
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form label {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

.modal-map {
	background: url(../img/map_560x222.jpg) no-repeat center;
}

.user-name {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;
	color: #000000;
}

.user-name-footer {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.15px;
	text-align: left;
	color: rgba(255, 255, 255, 0.7);
}

.breadcrumbs-link,
.sort-link {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: 0.14px;
	text-align: left;
	color: #000000;
	opacity: 0.3;
}

.breadcrumbs-link:hover {
	opacity: 0.6;
}

.breadcrumbs-link:active {
	opacity: 0.1;
}

.goods-sort {
	background-color: #ECECEC;
}

.sort-link-active {
	opacity: 1;
}

.header-tier2 {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 16px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 3.2px;
	text-align: left;
	color: #000000;
}

.choice-name {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.18px;
	text-align: left;
	color: #000000;
}

.min-cost, 
.max-cost {	
  font-family: "Gilroy light","Arial",sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  opacity: 0.2;
}

.goods-choise label {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2.86;
	letter-spacing: 0.14px;
	text-align: left;
	color: #000000;
}

.goods-choise input:hover,
.goods-choise label:hover {
	opacity: 0.6;
}

.goods-choise input:active,
.goods-choise label:active {
	opacity: 1;
}

.blocked {
	opacity: 0.25;
}

.good-name {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 0.18px;
	text-align: left;
	color: #000000;
}

.hide-link {
	opacity: 0;
}

.good-price {
	font-family: "Gilroy light","Arial",sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.16px;
	text-align: right;
	color: #464646;
}

.good-compare-add {
	font-family: "Open Sans light","Arial",sans-serif;
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.54;
	letter-spacing: 0.13px;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

.good-compare-add:hover {
	color: rgba(0, 0, 0, 1);
}

.good-compare-add:active {
	color: rgba(0, 0, 0, 0.2);
}

.good {
	cursor: pointer
}

.good:hover .good-picture{
	opacity: 0.7;	
}

.good:hover .hide-link{
	opacity: 1;
}

.paginator {
	background-color: #ECECEC;
}

.paginator-link {
	font-family: "Gilroy bold","Arial",sans-serif;
	font-size: 16px;
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 3.2px;
	text-align: left;
	color: #000000;
	opacity: 0.3;
}

.paginator-prev,
.paginator-next {
	background-color: #ECECEC;
	opacity: 1;
}

.paginator-prev:hover,
.paginator-next:hover {
	background-color: #DADADA;
}

.paginator-prev:active,
.paginator-next:active {
	color: rgba(0, 0, 0, 0.3);
}

.sort-link-current,
.paginator-link-current
 {
	opacity: 1;
}

.appearance-link:hover {
	opacity: 0.6;
}

.appearance-link:active {
	opacity: 1;
}

/*--Сеточные стили--*/

.site-wrapper {
	width: 1440px;
	min-height: 1700px;
	margin:auto;
	background-color: red;
}

.main-header {
	width: 1040px;
	height: 185px;
	margin-top: 40px;
	margin-left: 140px;
	margin-right: 140px;
	padding-left: 60px;
	padding-right: 60px;	
}

.header-logo {
	position: relative;
	top: -18px ;
}

.user-block {
	width: 100%;
	height: 65px;
	display: flex;
}

.user-block-search {
	width: 540px;
}

.user-block-login {
	width: 300px;
}

.user-block-compare {
	width: 140px;
}

.user-block-cart {
	width: 60px;
}

.main-menu {
	display: flex;
}

.catalog {
	display: block;
	width: 540px;
	height: 20px;
}

.delivery {
	display: block;
	width: 160px;
	height: 20px;
}

.varanty {
	display: block;
	width: 220px;
	height: 20px;
}

.contacts {
	display: block;
	width: 120px;
	height: 20px;
}

.main-menu {
	margin: 0;
	padding: 0;
}

/*--Основные товары--*/

.main-goods {
	width: 1160px;
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 110px;	
	margin-bottom: 85px;
}

.main-goods-list {		
	display: flex;
	justify-content: space-between;
}

.main-goods-item-link {
	width: 160px;
	display: block;
}

.main-goods-item-img {
	width: 160px;
	height: 160px;
}

/*--Наши услуги--*/

.services-slider {
	width: 100%;
	height: 390px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 25%, #E5E5E5 25%)
}

.services-slider-wrap {
	display: flex;
	margin-left: 140px;
	margin-right: 140px;
}

.services-control {
	width: 280px;
	height: 320px;
}

.services-slider-item {
	width: 880px;
	height: 320px;
}

/*--Брэнды--*/

.brands {
	width: 1160px;
	height: 289px;
	margin-left: 140px;
	margin-right: 140px;
	background-color: #FFFFFF;
	display: flex;
	align-content: center;
}

.brands-item {
	width: 290px;	
}

/*--Информация--*/

.information {
	width: 1160px;
	min-height: 600px;
	margin-left: 140px;
	margin-right: 140px;
	display: flex;
}

.about-us, 
.contacts {
	width: 580px;
}

/*--Заголовок каталога--*/

.catalog-headline {
	width: 1160px;
	min-height: 140px;
	margin-left: 140px;
	margin-right: 140px;
	padding-top: 45px;
}

.breadcrumbs-list {
	display: flex;
}

.breadcrumbs-link {
	display: block;
	margin-right: 40px;
	margin-top: 40px;
}

.catalog-goods-header {
	height: 70px;
	background-color: #DADADA;
	display: flex;
	width: 100%;
}

.filter-header {
	width: 468px;
	height: 70px;
}

.goods-list-sort {
	width: 973px;
	height: 70px;
	background-color: #ECECEC;
	display: flex;
}

.sort-list {
	display: flex;
}

.sort-link {
	display: block;
}

/*--Каталог--*/

.catalog-article {
	display: flex;
}

.catalog-goods {
	min-height: 1287px;	
}

.goods-sort-wrap {
	padding-left: 200px;
	width: 267px;
	background-color: #ECECEC;
	display: flex;
	flex-direction: column;
}

.filter-fieldset {
	border: none;
}

.goods-list {
	width: 830px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.goods-table {
	display: flex;
	flex-wrap: wrap;
}

.good {
	width: 360px;
	height: 460px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 70px;
}

/*--Футер--*/

.main-footer {
	min-height: 323px;
	background-color: #464646;
}

.footer-user-block {
	width: 1160px;
	height: 85px;
	margin-left: 140px;
	margin-right: 140px;
	padding-top: 65px;
	display: flex;
	justify-content: flex-end;
}

.footer-logo {	
	width: 875px;
}

.footer-user-block-login,
.footer-user-block-compare,
.footer-user-block-cart {
	width: 95px;
}

.footer-information-block {
	width: 1160px;
	height: 20px;
	margin-left: 140px;
	margin-right: 140px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer-menu {
	width: 420px;
	display: flex;
	justify-content: space-between;
	

}

.footer-social-wrap {	
	width: 1160px;
	height: 35px;
	margin-top: 70px;	
	margin-left: 140px;
	margin-right: 140px;
	display: flex;	
	justify-content: space-between;
}

.footer-social {
	width: 140px;
	height: 35px;
	display: flex;
	justify-content: space-between;
}

.social-btn {
	display: block;
	width: 35px;
	height: 35px;
}

.yellow-brick {
	width: 35px;
	height: 35px;
}




